@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    background-color: #f1f1f1;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-image:url("https://www.dropbox.com/scl/fi/hgio2ytn2tys22lrzewnu/iMac-4.png?rlkey=ar2pz6k9o97g0i7ywv7q4ej0p&dl=1");
    background-size: cover;
    padding: 40px 120px;
}
.container h1{
    font-size: 5rem;
    margin: 20px 0;
    font-weight: 600;
    margin-top: 10px;
    font-family: "Black Ops One", cursive;
    background: -webkit-linear-gradient(0deg, #D3315A, #00ADA9, #7D5F91, #EA872C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#allNotifications{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}
.notif{
    width: 100%;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(-97deg, rgba(229, 212, 196, 0.50) 49.55%, rgba(179, 203, 217, 0.50) 100.33%);
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notif .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3b0360;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: left;
}

.notif .message {
    font-size: 1rem;
    font-weight: 300;
}
.notif .other{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notif .other .time{
    font-size: 0.8rem;
    font-weight: 300;
    color: #3b0360;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: left;
}
.notif .other .action{
    display: grid;
    place-items: center;
    background-color: #3b0360b1;
    color: rgba(252, 237, 223, 0.75);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.notif .other .action i{
    font-size: 1rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
.notif .other .action:hover{
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}
.addPostBtn {
    font-size: 2rem;
    padding: 10px;
    background-color: #3b0360b1;
    color: rgba(252, 237, 223, 0.75);
    border: none;
    cursor: pointer;
    float: right;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease-in-out;
    display: grid;
    place-items: center;
}
.addPostBtn a{
    color: rgba(252, 237, 223, 0.75);
    text-decoration: none;
}
.addPostBtn:hover{
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}
.addPostBtn:hover a{
    color: rgba(252, 237, 223, 1);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(97deg, rgba(229, 212, 196, 0.90) 49.55%, rgba(179, 203, 217, 0.90) 100.33%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgba(255, 252, 249, 0.503);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #3b0360;
    font-family: "Black Ops One", cursive;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal-content form label {
    font-size: 20px;
    font-weight: 600;
    color: #7D5F91;
    margin-bottom: 5px;
}

.modal-content form input,
.modal-content form textarea {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    font-weight: 300;
    color: #3b0360b1;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(-97deg, rgba(255, 230, 206, 0.5) 49.55%, rgba(227, 242, 251, 0.5) 100.33%);
}
.modal-content form input[type="file"]::file-selector-button {
    padding: 10px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 300;
    background-color: #542076b1;
    color: rgba(252, 237, 223, 0.75);
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
.modal-content form input[type="file"]::-ms-browse:hover {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
  }
  
.modal-content form input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
  }
  
.modal-content form input[type="file"]::file-selector-button:hover {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
  }

.modal-content form button {
    padding: 10px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 300;
    background-color: #3b0360b1;
    color: rgba(252, 237, 223, 0.75);
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-content form button:hover {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}

.modal-content form button:active {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}

.modal-content form button:focus {
    outline: none;
}
@media screen and (max-width: 768px) {
    .container {
        padding: 40px 20px;
    }
    .container h1{
        font-size: 3rem;
    }
    .addPostBtn {
        height: 50px;
        width: 50px;
        bottom: 10px;
        right: 10px;
    }
    .addPostBtn i{
        font-size: 1.5rem;
    }
    
}