@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    background-color: #f1f1f1;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url("https://www.dropbox.com/scl/fi/hgio2ytn2tys22lrzewnu/iMac-4.png?rlkey=ar2pz6k9o97g0i7ywv7q4ej0p&dl=1");
    background-size: cover;
    padding: 40px 120px;
    position: relative;
}
.options-container .user{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: linear-gradient(97deg, rgba(229, 212, 196, 0.50) 49.55%, rgba(179, 203, 217, 0.50) 100.33%);
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    cursor: pointer;
}
.options-container .user img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 2px solid #D3315A;
}
.options-container .user .usrtxt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.options-container .user .usrtxt p{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10px;
}
.options-container .user .usrtxt p#role{
    color: #7D5F91;
    font-size: 0.8rem;
}
.options-container h1{
    font-size: 5rem;
    margin: 20px 0;
    font-weight: 600;
    margin-top: 10px;
    font-family: "Black Ops One", cursive;
    background: -webkit-linear-gradient(0deg, #D3315A, #00ADA9, #7D5F91, #EA872C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.options-container .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
    width: 100%;
    position: relative;
}
.options-container .grid-container .grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(97deg, rgba(229, 212, 196, 0.50) 49.55%, rgba(179, 203, 217, 0.50) 100.33%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.options-container .grid-container .grid-item:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
}
.options-container .grid-container .grid-item a{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    font-family: "Black Ops One", cursive;
    background: -webkit-linear-gradient(0deg, #D3315A, #00ADA9, #7D5F91, #EA872C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
}
.options-container .grid-container .grid-item p{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    color: #4c4c4c9a;
    font-weight: 600;
    text-align: justify;
    text-justify: inter-word;
}

.addPostBtn {
    font-size: 1.2rem;
    padding: 10px;
    background-color: #3b0360b1;
    color: rgba(252, 237, 223, 0.75);
    border: none;
    cursor: pointer;
    float: right;
    height: 60px;
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease-in-out;
}
.addPostBtn:hover{
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}
@media screen and (max-width: 768px){
    .options-container{
        padding: 40px 20px;
    }
    .options-container h1{
        font-size: 4rem;
    }
    .options-container .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    
}