@import url('https://fonts.googleapis.com/css2?family=Armata&family=Single+Day&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entry {
    width: 100%;
    height: 100vh;
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20230526/pngtree-room-with-piles-of-rocks-and-fire-inside-image_2642763.jpg") no-repeat center center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.dialouge-container {
    width: 90vw;
    height: 90vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(22, 32, 44, 0.55);
    position: relative;
    clip-path: polygon(0 10%, 5% 0, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%);
    background-size: 100% 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
}

.dialouge-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 90%;
    background-color: rgba(130, 155, 175, 0.55);
    clip-path: polygon(0 10%, 5% 0, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%);
    background-size: 100% 100%;
}

.dialouge-container .dialouge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    z-index: 20;
    height: 100%;
}

.dialouge-container .dialouge .slide {
    flex: 0 0 100%;
    font-family: 'Single Day', cursive;
    z-index: 20;
    padding: 0 5%;
    align-items: center;
    justify-items: center;
    text-align: justify;
    text-justify: inter-word;
    font-size: 2rem;
}
.dialouge-container .dialouge .slide b{
    color: #15202A;
    font-size: 2.25rem;
}
.dialouge-container .dialouge .slide .opt{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #15202A;
}
.dialouge-container .dialouge .slide .opt .number{
    background-color: #15202A;
    font-size: 2.25rem;
    color: rgba(130, 155, 175, 0.75);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 20px;
    font-size: 2rem;
}
.dialouge-container .prev {
    position: absolute;
    z-index: 20;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(22, 32, 44, 0.75);
    cursor: pointer;
    color: rgba(130, 155, 175, 0.75);
    display: grid;
    place-items: center;
    font-size: 2.5rem;
}
.dialouge-container .prev i{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.dialouge-container .next {
    position: absolute;
    z-index: 20;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(22, 32, 44, 0.75);
    cursor: pointer;
    color: rgba(130, 155, 175, 0.75);
    display: grid;
    place-items: center;
    font-size: 2.5rem;
}
.dialouge-container .next i{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
@media screen and (max-width: 768px) {
    .dialouge-container .dialouge .slide {
        font-size: 1.35rem;
        padding: 0 13%;
    }
    .dialouge-container .dialouge .slide b{
        font-size: 1.5rem;
    }
    .dialouge-container .prev {
        width: 20px;
        height: 30px;
        font-size: 1rem;
    }
    .dialouge-container .next {
        width: 20px;
        height: 30px;
        font-size: 1rem;
    }
}
