@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #f1f1f1;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://www.dropbox.com/scl/fi/hgio2ytn2tys22lrzewnu/iMac-4.png?rlkey=ar2pz6k9o97g0i7ywv7q4ej0p&dl=1");
    background-size: cover;
    padding: 40px 120px;
    position: relative;
}

.container h1 {
    font-size: 5rem;
    margin: 20px 0;
    font-weight: 600;
    margin-top: 10px;
    font-family: "Black Ops One", cursive;
    background: -webkit-linear-gradient(0deg, #D3315A, #00ADA9, #7D5F91, #EA872C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.forum {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(97deg, rgba(229, 212, 196, 0.50) 49.55%, rgba(179, 203, 217, 0.50) 100.33%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.post .post-video{
    display: grid;
    place-items: center;
    height: 100%;
    width: 1200px;
    height: 600px;
    max-width: 100%;
    margin-bottom: 20px;
}
.post .post-video video{
    width: 1200px;
    height: 600px;
    border-radius: 12px;
    object-fit: cover;
}

.post .caption {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 10px;
    color: #807985;
}

.post .desc {
    font-size: 1rem;
    font-weight: 300;
}
.post .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.post .bottom button{
    font-size: 1.5rem;
    font-weight: 600;
    color: #807985;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    display: flex;
}
.post .bottom button p{
    margin-left: 5px
}
.post .bottom button:hover{
    color: #3b0360;
}
.post .bottom button:first-child{
    margin-left: 0;

}
.postBy {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #7D5F91;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 20px;
    border-bottom: 5px solid #ffffff2e;
}

.postBy .postByPhoto {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.postBy .postByPhoto h2 {
    font-size: 1rem;
    font-weight: 600;
    color: #7D5F91;
    margin-right: 10px;
}

.postBy .postByPhoto img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3.5px solid #7d5f9181;
}

.postBy .postAt {
    font-size: 1rem;
    font-weight: 600;
    color: #7D5F91;
    text-align: right;
    width: 100%;
}

.comments {
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.comment {
    width: 100%;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(-97deg, rgba(229, 212, 196, 0.50) 49.55%, rgba(179, 203, 217, 0.50) 100.33%);
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    margin-top: 20px;
}
.comment .cmnt{
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
}
.commentBy {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #7D5F91;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.commentBy .commentByPhoto {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.commentBy .commentByPhoto h2 {
    font-size: 1rem;
    font-weight: 600;
    color: #7D5F91;
    margin-right: 10px;
}

.commentBy .commentByPhoto img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3.5px solid #7d5f9181;
}

.commentBy .commentAt {
    font-size: 1rem;
    font-weight: 600;
    color: #7D5F91;
    text-align: right;
    width: 100%;
}
#saveComment{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
}
#saveComment label{
    text-align: left;
    color: #7d5f91ac;
    font-weight: 900;
    font-size: 1.25rem;
}
#saveComment input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    font-weight: 300;
    color: #3b0360b1;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(97deg, rgba(255, 230, 206, 0.5) 49.55%, rgba(227, 242, 251, 0.5) 100.33%);

}
#saveComment button{
    padding: 10px;
    font-size: 1.15rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 300;
    background-color: #3b0360b1;
    color: rgba(252, 237, 223, 0.75);
    width: 200px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#saveComment button:hover{
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(97deg, rgba(229, 212, 196, 0.90) 49.55%, rgba(179, 203, 217, 0.90) 100.33%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgba(255, 252, 249, 0.503);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #3b0360;
    font-family: "Black Ops One", cursive;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal-content form label {
    font-size: 20px;
    font-weight: 600;
    color: #7D5F91;
    margin-bottom: 5px;
}

.modal-content form input,
.modal-content form textarea {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    font-weight: 300;
    color: #3b0360b1;
    border: 1px solid #6d809337;
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.25);
    background: linear-gradient(-97deg, rgba(255, 230, 206, 0.5) 49.55%, rgba(227, 242, 251, 0.5) 100.33%);
}
.modal-content form input[type="file"]::file-selector-button {
    padding: 10px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 300;
    background-color: #542076b1;
    color: rgba(252, 237, 223, 0.75);
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
.modal-content form input[type="file"]::-ms-browse:hover {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
  }
  
.modal-content form input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
  }
  
.modal-content form input[type="file"]::file-selector-button:hover {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
  }

.modal-content form button {
    padding: 10px;
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 300;
    background-color: #3b0360b1;
    color: rgba(252, 237, 223, 0.75);
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-content form button:hover {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}

.modal-content form button:active {
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}

.modal-content form button:focus {
    outline: none;
}

.addPostBtn {
    font-size: 2rem;
    padding: 10px;
    background-color: #3b0360b1;
    color: rgba(252, 237, 223, 0.75);
    border: none;
    cursor: pointer;
    float: right;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.3s ease-in-out;
}
.addPostBtn:hover{
    background-color: #3b0360;
    color: rgba(252, 237, 223, 1);
    transform: scale(0.9);
}
@media screen and (max-width: 768px) {
    .container {
        padding: 40px 20px;
    }
    .container h1{
        font-size: 3rem;
    }
    .post .bottom button{
        font-size: 1.25rem;
    }
    .post .bottom button p{
        font-size: 1rem;
    }
    .postBy .postByPhoto img {
        width: 25px;
        height: 25px;
    }
    .postBy .postByPhoto h2 {
        font-size: 0.75rem;
    }
    .postBy .postAt {
        font-size: 0.75rem;
    }
    .commentBy .commentByPhoto img {
        width: 25px;
        height: 25px;
    }
    .commentBy .commentByPhoto h2 {
        font-size: 0.75rem;
    }
    .commentBy .commentAt {
        font-size: 0.75rem;
    }
    .comment .cmnt{
        font-size: 0.75rem;
    }
    .comment {
        padding: 5px;
    }
    .commentBy {
        font-size: 1rem;
    }
    .post .title {
        font-size: 1.5rem;
    }
    .post .desc {
        font-size: 0.75rem;
    }
    .postBy .postByPhoto h2 {
        font-size: 0.75rem;
    }
    .postBy .postByPhoto img {
        width: 25px;
        height: 25px;
    }
    .postBy .postAt {
        font-size: 0.75rem;
    }
    .postBy .postByPhoto {
        margin-top: 10px;
    }
    .postBy .postByPhoto h2 {
        font-size: 0.75rem;
    }
    .postBy .postByPhoto img {
        width: 25px;
        height: 25px;
    }
    .postBy .postAt {
        font-size: 0.75rem;
    }
    .postBy .postByPhoto {
        margin-top: 10px;
    }
    .postBy .postByPhoto h2 {
        font-size: 0.75rem;
    }
    .postBy .postByPhoto img {
        width: 25px

    }
    .modal-content{
        width: 90%;
    }
    .post .post-video{
        width: 275px;
        height: 300px;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .post .post-video video{
        width: 275px;
        height: 300px;
        border-radius: 12px;
        object-fit: cover;
    }
}