@import url('https://fonts.googleapis.com/css2?family=Armata&family=Single+Day&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entry {
    width: 100%;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/9e/fb/a2/9efba2f87e32f7e7c4189fdab028a9bb.jpg") no-repeat center center;
    background-size: cover;
    display: grid;
    place-items: center;
}

.dialouge-container {
    width: 90vw;
    height: 90vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: rgba(42, 50, 49, 0.55);
    position: relative;
    clip-path: polygon(0 10%, 5% 0, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%);
    background-size: 100% 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
}

.dialouge-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 90%;
    background-color: rgba(224, 235, 212, 0.35);
    clip-path: polygon(0 10%, 5% 0, 95% 0%, 100% 10%, 100% 90%, 95% 100%, 5% 100%, 0% 90%);
    background-size: 100% 100%;
}

.dialouge-container .dialouge {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 20;
}

.dialouge-container .dialouge .slide {
    flex: 0 0 100%;
    font-family: 'Single Day', cursive;
    z-index: 20;
    padding: 0 5%;
    height: 80%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 2rem;
}
.dialouge-container .dialouge .slide b{
    color: rgb(42, 50, 49);
    font-size: 2.25rem;
}
.dialouge-container .dialouge .slide .opt{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: 700;
}
.dialouge-container .dialouge .slide .opt .number{
    background-color: rgb(42, 50, 49);
    font-size: 2.25rem;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 20px;
    font-size: 2rem;
}
.dialouge-container .prev {
    position: absolute;
    z-index: 20;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(42, 50, 49, 0.95);
    cursor: pointer;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
}
.dialouge-container .prev i{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.dialouge-container .next {
    position: absolute;
    z-index: 20;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(42, 50, 49, 0.95);
    cursor: pointer;
    color: white;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
}
.dialouge-container .next i{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.enter-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.enter-link a{
    font-family: 'Armata', sans-serif;
    padding: 10px 20px;
    background-color: rgba(69, 78, 100, 0.95);
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out; 
}
.enter-link a:hover{
    background-color: rgba(69, 78, 100, 0.75);
    transform: scale(0.9);
}
.dialouge-container .dialouge .slide:last-child{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 0 10%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-justify: center;
    place-items: center;
}
.dialouge-container .dialouge .slide .opt-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.dialouge-container .dialouge .slide .opt-link a{
    font-family: 'Armata', sans-serif;
    padding: 10px 20px;
    background-color: rgba(69, 78, 100, 0.95);
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out; 
}
@media screen and (max-width: 768px) {
    .dialouge-container .dialouge .slide {
        font-size: 1.35rem;
        padding: 0 13%;
    }
    .dialouge-container .dialouge .slide b{
        font-size: 1.5rem;
    }
    .dialouge-container .prev {
        width: 20px;
        height: 30px;
        font-size: 1rem;
    }
    .dialouge-container .next {
        width: 20px;
        height: 30px;
        font-size: 1rem;
    }
}
